<secion class="product-item">
  <div class="container">
    <div class="product-page" >
      <%= @product.name %>
      <hr>
    </div>
    
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-md-6">
        <h1 class="section-left"> <%= t('products.Show.Product_code') %> </h1>
        <span>
          <%= @product.code %> 
        </span>
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6">
        <h1 class="section-left"> <%= t('products.Show.Availability') %> </h1>
        <p>
          <%= @product.availability %>
        </p>
      </div>
    </div>
    <%if signed_in?%>
      <%=link_to "", class: "button", id: "cart-action" , data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl:remove_from_cart_path(@product)} do%>
        <i class="fi-shopping-cart"></i>
        <span><%=@cart_action%></span> Cart
      <%end%>
    <%end%>

    <div class="product-description">
      <%= @markdown.render(@product.description).html_safe %>
    </div>
  </div>
</secion>