<secion class="product-item">
  <div class="container">
    <div class="product-page" >
      <%= @product.name %>
      <hr>
    </div>
    
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-md-6">
        <h1 class="section-left"> <%= t('products.show.Product_code') %> </h1>
        <span>
          <%= @product.code %> 
        </span>
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6">
        <h1 class="section-left"> <%= t('products.show.Availability') %> </h1>
        <p>
          <%= @product.availability %>
        </p>
      </div>
    </div>
    
    <div class="product-description">
      <%= @markdown.render(@product.description).html_safe %>
    </div>
  </div>
</secion>